aws_region                = "eu-west-1"
share_name                = "aws-ram-poc-share"
allow_external_principals = false

# Empty => RAM default when a resource type is associated.
# Parameter Store (pick one):
# permission_arns = [
#   "arn:aws:ram::aws:permission/AWSRAMDefaultPermissionSSMParameterReadOnly",
# ]
# permission_arns = [
#   "arn:aws:ram::aws:permission/AWSRAMPermissionSSMParameterReadOnlyWithHistory",
# ]

# Account B: Advanced parameter ARN(s)
# resource_arns = [
#   "arn:aws:ssm:eu-west-1:111122223333:parameter/path/to/param",
# ]

# Account A: IAM role ARN (ssm:Parameter supports IAM roles) and/or account ID / org / OU
# principals = [
#   "arn:aws:iam::444455556666:role/example-consumer-role",
# ]

tags = {
  Environment = "poc"
}
